.category
    border-radius: 30px

    margin-bottom: 50px
    display: flex
    flex-direction: column

    max-width: 22rem
    cursor: pointer

    padding: 1rem 2rem
    background-color: white
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

    &__name
        margin-bottom: 10px
        font-size: 18px

    &__img__container
        padding-top: 1.5rem
        background-color: #FFF

        border-radius: 20px

        display: flex
        justify-content: center
        align-items: center

    &__description
        margin-top: 1rem
        display: flex
        align-items: center

    &__level
        margin-right: 1rem
        width: 37px
        height: 21px

        font-weight: 500
        font-size: 14px

        color: #7879F1

        padding: 0.5rem 2rem
        text-align: center

        background: #F1F1FD
        border-radius: 100px

    &__progress
        font-weight: 500
        font-size: 12px

        color: rgba(0, 0, 0, 0.5)

    &__progress__line
        background: #DDDDDD
        border-radius: 40px
        height: 1.5rem

        &__filled
            height: 1.5rem
            background: #3E86F5
            border-radius: 20px
