.categories
    padding-top: 40px

    max-width: 1000px
    margin: 0 auto

    &__content
        position: relative

        &__el
            position: absolute

    &-left
        display: flex
        justify-content: left

    &-right
        display: flex
        justify-content: right
